{
    "name": "History Account",
    "accountNo": "GOBI-HIST-12",
    "description": "This is my account description.",
    "appSystemNo": "FIN-GOBI-HIST-12",
    "paymentMethod": "EFT",
    "accountStatus": "Active",
    "contactInfo": "Some basic contact information note.",
    "libraryCode": "My Library",
    "libraryEdiCode": "MY-LIB-1",
    "notes": ""
}
