{
    "accounts": [
        {
            "id": "588b5c42-8634-4af7-bc9b-5e0116ed96b6",
            "name": "History Account",
            "accountNo": "GOBI-HIST-12",
            "description": "This is my account description.",
            "appSystemNo": "FIN-GOBI-HIST-12",
            "paymentMethod": "EFT",
            "accountStatus": "Active",
            "contactInfo": "Some basic contact information note.",
            "libraryCode": "My Library",
            "libraryEdiCode": "MY-LIB-1",
            "notes": ""
        }
    ],
    "totalRecords": 1
}
