{
    "name": "Sales Portal",
    "uri": "https://www.gobi3.com/Pages/Login.aspx",
    "username": "my_user",
    "password": "my_password",
    "notes": "This is the store-front for GOBI.",
    "available": true,
    "deliveryMethod": "Online",
    "statisticsFormat": "PDF",
    "locallyStored": "",
    "onlineLocation": "",
    "statisticsNotes": ""
}
