{
  "toBeBound": [
    {
      "poLineId": "3f4f61ab-d3c2-47a9-baa6-c903a4cfba57",
      "barcode": "0987654111",
      "materialTypeId": "a058cb27-a77d-4cb3-b76b-2adc931fb0c9",
      "callNumber": "BF2050 .M335 2000",
      "permanentLoanTypeId": "41673a86-ebab-4a5a-8b1b-76110a6f86f4",
      "permanentLocationId": "02cc63e9-dda0-4b49-bbc6-6253edffcc67",
      "bound": 2,
      "bindPieces": [
        {
          "id": "fe729e0b-5c56-4f0a-bb3a-33bc405d71a0"
        },
        {
          "id": "4d6b8cf9-73bd-4b3d-8f1b-5b7cbf02d03a"
        }
      ]
    },
    {
      "poLineId": "7d9fe888-bc7e-4d4e-9241-0b5f2457e0a3",
      "barcode": "0987654333",
      "materialTypeId": "1a54b431-2e4f-452d-9cae-9cee66c9a892",
      "callNumber": "PR 8923 W6 L36 1990 c.4",
      "permanentLoanTypeId": "41673a86-ebab-4a5a-8b1b-76110a6f86f4",
      "permanentLocationId": "76872375-dfb9-4540-9b40-7d009670f731",
      "bound": 1,
      "bindPieces": [
        {
          "id": "9a2e97e3-5f8b-4b2c-9e27-16c8e8993018"
        }
      ]
    }
  ],
  "totalRecords": 2
}
