{
  "claimingPieces": [
    {
      "id": "123e4567-e89b-12d3-a456-426614174000",
      "receivingTenantId": "college"
    },
    {
      "id": "123e4567-e89b-12d3-a456-426614174001",
      "receivingTenantId": "university"
    }
  ],
  "claimingInterval": 1,
  "internalNote": "internal",
  "externalNote": "external"
}
