{
  "compositePurchaseOrders": [
    {
      "approved": true,
      "assignedTo": "ab18897b-0e40-4f31-896b-9c9adc979a88",
      "billTo": "1df71bab-818c-46ea-988b-a23676d91ae6",
      "closeReason": {
        "reason" : "No longer available",
        "note" : "Items are no longer available to purchase"
      },
      "dateOrdered": "2018-07-20T00:00:00.000+0000",
      "notes": [
        "ABCDEFGHIJKLMNO",
        "ABCDEFGHIJKLMNOPQRST",
        "ABCDEFGHIJKLMNOPQRSTUV"
      ],
      "orderType": "Ongoing",
      "poNumber": "AAA268758B",
      "reEncumber": false,
      "renewal": {
         "cycle": "6 Months",
         "interval": 182,
         "manualRenewal": true,
         "reviewPeriod": 30,
         "renewalDate": "2019-04-09T00:00:00.000Z"
      },
      "shipTo": "0830111e-dcf1-4897-9eee-dcd1ab44adce",
      "template": "678323d2-3d86-4a69-8674-bbd4f8eecb33",
      "totalEstimatedPrice": 103.47,
      "totalItems": 5,
      "units": [
        "1895e539-8dac-441e-b1f5-aab62b3fde60",
        "47f504bd-0c1b-498e-a2ae-e2f0a0cea273"
      ],
      "vendor": "168f8a86-d26c-406e-813f-c7527f241ac3",
      "workflowStatus": "Open",
      "metadata": {
        "createdDate": "2018-07-19T00:00:00.000+0000",
        "createdByUserId": "28d1057c-d137-11e8-a8d5-f2801f1b9fd1"
      },
      "compositePoLines": [
        {
          "id": "f97355de-9a18-4bbb-ac47-066d6a52e27a",
          "checkinItems": false,
          "cost": {
            "additionalCost": 2.00,
            "currency": "USD",
            "discount": 2,
            "discountType": "percentage",
            "listUnitPrice": 5.00,
            "listUnitPriceElectronic": 3.00,
            "quantityPhysical": 2,
            "quantityElectronic": 1,
            "poLineEstimatedPrice": 75.47
          },
          "orderFormat": "P/E Mix"
        },
        {
          "id": "d51772fd-582e-41bd-9073-712f5fb399f1",
          "checkinItems": false,
          "cost": {
            "currency": "USD",
            "discount": 2.00,
            "discountType": "amount",
            "listUnitPrice": 15.00,
            "quantityPhysical": 2,
            "poLineEstimatedPrice": 28.00
          },
          "orderFormat": "Physical Resource"
        }
      ]
    }
  ],
  "totalRecords": 1
}
