{
    "activation_status": "",
    "activation_due": 4,
    "create_inventory": false,
    "trial": false,
    "expected_activation": null,
    "user_limit" 5,
    "material_id": null,
    "access_provider": null
}