{
    "acquisition_method": "Approval Plan",
    "barcode": "1234",
    "cancellation_restriction": false,
    "cancellation_restriction_comment": null,
    "receipt_date": null,
    "collection": false,
    "owner": "Joe Smith",
    "po_line_description": "History Connect In",
    "selector": "Nathan Pick",
    "requester": "John Castillo",
    "account_number": "1234",
    "donor": null
}