{
    "renewals":
        [
            {
            	"id": "da0272e4-7ff7-4ea8-9bc9-9d9cd5c81580",
                "cycle": null,
                "review_period": 6,
                "renewal_date": null,
                "interval": 0,
                "manual_renewal": false
            }
        ],
    "total_records": 1,
    "first": 1,
    "last": 1
}