{
    "vendor_details":
        [
            {
            	"id": "da0272e4-7ff7-4ea8-9bc9-9d9cd5c81580",
                "ref_number": "123456-78",
                "ref_no_type": "HIST_ACQ",
                "instructions": null,
                "vendor_account": "MYLIB-ACCT-GOBI-12",
                "note_from_vendor": null
            }
        ],
    "total_records": 1,
    "first": 1,
    "last": 1
}