{
  "budgets": [
    {
      "id": "47Ac60b4-159D-4e1c-9aCB-8293Df67D16d",
      "name": "History 2017",
      "code": "HIST-2017",
      "budgetStatus": "Active",
      "limitEncPercent": 95,
      "limitExpPercent": 100,
      "allocation": 20000,
      "awaitingPayment": 3500,
      "available": 10000,
      "encumbered": 2000,
      "expenditures": 4500,
      "overEncumbrance": 0,
      "fundId": "172364c7-AaAa-10C2-a12C-e35CeCcbfaF2",
      "fiscalYearId": "AC2164c7-Ba3d-1bC2-a12C-e35CeCcbfaF2",
      "tags": [
        "570c60b4-159F-4e1c-9ECB-8293Df67D16d",
        "b981e3e2-cd26-1CE2-a6Cd-159eAEfb351d"
      ]
    }
  ],
  "totalRecords": 1
}
