{
  "id": "4c58e097-3bef-17f9-B4B3-e1Fa4CCbF12D",
  "amount": 25,
  "currency": "USD",
  "percent": 100,
  "sourceType": "PO_Line",
  "sourceId": "906eb7a4-8bbc-1ccf-8caf-de909eabeedd",
  "budgetId": "47ac60b4-159d-4e1c-9acb-8293df67d16d"
}
