{
  "fundCode" : "HIST",
  "ledgerCode" : "MAIN-LIB",
  "activeFundCodeVsExpClasses" : ["FUND1:ExpClassPrn"],
  "inactiveFundCodeVsExpClasses" : ["FUND1:ExpClassElec"],
  "required": ["fundCode", "ledgerCode", "activeFundCodeVsExpClasses"]
}
