{
  "distributions": [
    {
      "id": "4c58e097-3bef-17f9-B4B3-e1Fa4CCbF12D",
      "amount": 25,
      "currency": "USD",
      "percent": 100,
      "sourceType": "PO Line",
      "sourceId": "906eb7a4-8BbC-1CCf-9cAF-de909eABeedd",
      "budgetId": "47Ac60b4-159D-4e1c-9aCB-8293Df67D16d"
    }

  ],
  "totalRecords": 1
}
