{
  "fundCode" : "HIST",
  "ledgerCode" : "MAIN-LIB",
  "activeFundCodeVsExpClasses" : ["FUND1:ExpClassPrn"],
  "inactiveFundCodeVsExpClasses" : ["FUND1:ExpClassElec"],
  ["HIST", "MAIN-LIB", ["FUND1:ExpClassPrn"], ["FUND1:ExpClassElec"]]
}
