{
  "id": "ac2164c7-ba3d-1bc2-912c-e35ceccbfaf2",
  "name": "Main Library",
  "code": "MAIN-LIB",
  "description": "This is the ledger for the Main Library",
  "ledgerStatus": "Active",
  "allocated": 2000,
  "available": 1000,
  "unavailable": 1000,
  "currency": "USD"
  "acqUnitIds": [
    "ac2164c7-ba3d-1bc2-912c-e35ceccbfaf2"
  ]
}
