{
  "id": "12ac70a4-5c9d-112f-9acb-852adf67d7e1",
  "allocated": 0,
  "amount": 25,
  "awaitingPayment": 0,
  "encumbered": 25,
  "expenditures": 0,
  "note": "PO_Line: History of Incas",
  "timestamp": "2017-07-01T19:03:02.778Z",
  "sourceId": "906eb7a4-8bbc-1ccf-bcaf-de909eabeedd",
  "transactionType": "PO-Line-Encumbrance",
  "budgetId": "47ac60b4-159d-4e1c-9acb-8293df67d16d"
}
