{
  "check_in_items": [
    {
      "po_line_id": "0804ddec-6545-404a-b54d-a693f505681d",
      "checked_in": 2,
      "pieces": [
        {
          "id": "5e317dc2-deeb-4429-b2a1-91e5cd0fd5f7",
          "barcode": "0987654321",
          "comment": "Very important note",
          "caption": "Vol. 1",
          "create_item": true,
          "supplement": false,
          "location_id": "eb2d063a-5b4c-4cab-8db1-5fc5c5941df6",
          "material_type_id": "3cdc2cd3-6646-43bf-aacc-37934aeae36c",
          "product_id": "bae22dfa-5ea8-43aa-b61d-8da89ba339c4",
          "product_id_type": "ISBN",
          "accession_number": "1956.1",
          "item_description": "This is the piece item one to checkin",
          "electronic_bookplate": "This book is from the Harvard University library"
        },
        {
          "id": "71d9322b-5cdd-45d8-ad45-c7f3044802e7",
          "barcode": "0987654111",
          "comment": "Very important note",
          "caption": "Vol. 2",
          "create_item": false,
          "supplement": true,
          "location_id": "c21a334d-b11a-49ff-88d9-97a700ed263e",
          "material_type_id": "93da93b3-5c2c-4077-b92d-12341d2070d2",
          "product_id": "31dcaba7-bce1-4a12-bd06-9ce901422285",
          "product_id_type": "ISBN",
          "accession_number": "2002.4",
          "item_description": "This is the piece item two to checkin",
          "electronic_bookplate": "This book is from the Florida University library"
        }
      ]
    }
  ],
  "total_records": 1
}
