{
  "composite_purchase_orders": [
    {
      "purchase_order": {
        "id": null,
        "comments": "History Connect 2017",
        "created": "2008-03-15T03:53:00Z",
        "po_number": "HISTCONN2017",
        "assigned_to": "ab18897b-0e40-4f31-896b-9c9adc979a88",
        "created_by": "ab18897b-0e40-4f31-896b-9c9adc979a88"
      },
      "po_lines": [
        {
          "id": "f97355de-9a18-4bbb-ac47-066d6a52e27a",
          "barcode": "0987654321",
          "po_line_number": "HISTCONN2017-1",
          "acquisition_method": "Approval Plan",
          "owner": "Joe Smith",
          "source": {
            "id": "d68eb3af-7de2-46b1-9047-810232cbfc6a",
            "code": "ACME",
            "description" : ""
          },
          "selector": "Nathan Pick",
          "requester": "John Castillo",
          "cancellation_restriction": false,
          "collection": false,
          "cost": {
            "id": "776d9efa-b471-4e82-81eb-831a4aa114f1",
            "list_price": 32.36,
            "currency": "CAD",
            "quantity": 1,
            "estimated_price": 32.36
           },
          "details": {
            "id": "b5b2d27f-b0d0-493a-9e4b-04f7a18a8d0a",
            "title": "The Conquest of the Incas",
            "receiving_note": "Please shelve in B5-History",
            "product_id": "0156028263",
            "material_type": "Physical Monograph",
            "subscription_to": null,
            "subscription_from": null,
            "subscription_interval": 6,
            "description": "The bible for historians and archaeologists studying the final days of the Inca. For the past thirty years, The Conquest of the Incas has remained the most influential book for Inca scholars. There is no other book which is even in the same class."
          },
          "physical": {
            "id": "112ae2e4-88ae-4fa5-a75b-2379d2035e52",
            "expected_receipt_date": "2017-09-25T09:53:15Z",
            "receipt_due": null,
            "expected_receipt_interval": 5,
            "material_supplier": "112ae2e4-88ae-4fa5-a75b-2379d2035e52",
            "volumes": 1,
            "material_id": "0156028263",
            "material_supplier": null
          },
          "eresource": {
            "id": "32bc025e-872b-404c-acd5-2af7d30e02aa",
            "activation_status": "",
            "activation_due": 4,
            "create_inventory": false,
            "trial": false,
            "expected_activation": null,
            "user_limit": 5,
            "access_provider": null
          },
          "location": {
            "id": "7fc8b711-49fb-4692-af0e-1ffa3d280e7e",
            "quantity": 8,
            "location_id": null
          },
          "vendor": {
            "id": "f34e218f-e05a-4c9b-8820-34dd6ed63b18",
            "ref_number": "123456-78",
            "ref_no_type": "HIST_ACQ",
            "instructions": "Open book, read book",
            "vendor_account": "MYLIB-ACCT-GOBI-12",
            "note_from_vendor": "Hi"
          }
        },
        {
          "id": "d51772fd-582e-41bd-9073-712f5fb399f1",
          "barcode": "1234567890",
          "po_line_number": "HISTCONN2017-2",
          "acquisition_method": "Approval Plan",
          "owner": "Joe Smith",
          "source": {
            "id": "d68eb3af-7de2-46b1-9047-810232cbfc6a",
            "code": "ACME",
            "description": ""
          },
          "selector": "Nathan Pick",
          "requester": "John Castillo",
          "cancellation_restriction": false,
          "collection": false,
          "cost": {
            "id": "211554b8-ff1e-478c-849c-eba21fcdb029",
            "list_price": 15.99,
            "currency": "USD",
            "quantity": 1,
            "estimated_price": 19.99
          },
          "details": {
            "id": "6d9907cf-e179-409c-a9e3-b0f9c9a2bf41",
            "title": "The Conquest of the Incas, Vol. 2",
            "receiving_note": "Please shelve in B5-History",
            "product_id": "0156028264",
            "material_type": "Physical Monograph",
            "subscription_to": null,
            "subscription_from": null,
            "subscription_interval": 6,
            "description": "The second volume bible for historians and archaeologists studying the final days of the Inca. For the past thirty years, The Conquest of the Incas has remained the most influential book for Inca scholars. There is no other book which is even in the same class."
          },
          "physical": {
            "id": "112ae2e4-88ae-4fa5-a75b-2379d2035e52",
            "expected_receipt_date": "2017-09-25T09:53:15Z",
            "receipt_due": null,
            "expected_receipt_interval": 5,
            "material_supplier": "112ae2e4-88ae-4fa5-a75b-2379d2035e52",
            "volumes": 1,
            "material_id": "0156028263",
            "material_supplier": null
          },
          "eresource": {
            "id": "32bc025e-872b-404c-acd5-2af7d30e02aa",
            "activation_status": "",
            "activation_due": 4,
            "create_inventory": false,
            "trial": false,
            "expected_activation": null,
            "user_limit": 5,
            "access_provider": null
          },
          "location": {
            "id": "7fc8b711-49fb-4692-af0e-1ffa3d280e7e",
            "quantity": 8,
            "location_id": null
          },
          "vendor": {
            "id": "587c948a-11e9-45b9-9184-c953ef7f4f3e",
            "ref_number": "123456-79",
            "ref_no_type": "HIST_ACQ",
            "instructions": "Open book, read book",
            "vendor_account": "MYLIB-ACCT-GOBI-12",
            "note_from_vendor": "Hi"
          }
        }
      ]
    }
  ],
  "totalRecords": 1
}
