{
  "composite_purchase_orders": [
    {
      "purchase_order": {
        "id": null,
        "created": "2008-03-15T03:53:00Z",
        "po_number": "HISTCONN2017",
        "assigned_to": "ab18897b-0e40-4f31-896b-9c9adc979a88",
        "created_by": "ab18897b-0e40-4f31-896b-9c9adc979a88",
        "vendor": "f34e218f-e05a-4c9b-8820-34dd6ed63b18"
      },
      "po_lines": [
        {
          "id": "f97355de-9a18-4bbb-ac47-066d6a52e27a"
        },
        {
          "id": "d51772fd-582e-41bd-9073-712f5fb399f1"
        }
      ]
    }
  ],
  "totalRecords": 1
}
