{
    "addresses": [
        {
            "id": "588b5c42-8634-4af7-bc9b-5e0116ed96b6",
            "addressLine1": "10 Estes Street",
            "addressLine2": "",
            "city": "Ipswich",
            "stateRegion": "MA",
            "zipCode": "01938",
            "country": "USA"
        }
    ],
    "total_records": 1,
    "first": 1,
    "last": 1
}
