{
    "id": "08e0eb27-b57f-4638-a703-9a2c57bd8708",
    "vendor_edi_code": "AQ-GOBI-HIST",
    "vendor_edi_type": "014/EAN",
    "lib_edi_code": "MY-LIB-1",
    "lib_edi_type": "014/EAN",
    "prorate_tax": true,
    "prorate_fees": true,
    "edi_naming_convention": "",
    "send_acct_num": true,
    "support_order": true,
    "support_invoice": true,
    "notes": "",
    "edi_ftp": {
        "ftp_format": "SFTP",
        "server_address": "http://127.0.0.1",
        "username": "edi_username",
        "password": "edi_password",
        "ftp_mode": "ASCII",
        "ftp_conn_mode": "Active",
        "ftp_port": "22",
        "order_directory": "/path/to/order/directory",
        "invoice_directory": "/path/to/invoice/directory",
        "notes": "My FTP notes"
    },
    "edi_job": {
        "schedule_edi": false,
        "date": null,
        "time": null,
        "is_monday": false,
        "is_tuesday": false,
        "is_wednesday": false,
        "is_thursday": false,
        "is_friday": false,
        "is_saturday": false,
        "is_sunday": false,
        "send_to_emails": "email1@site.com, email2@site.com",
        "notify_all_edi": true,
        "notify_invoice_only": true,
        "notify_error_only": false
    }
}