{
    "email": {
        "value": "noreply@folio.org",
        "description": "Main"
    },
    "categories": [
        "112ae2e4-88ae-4fa5-a75b-2379d2035e52",
        "56288fe8-8037-44da-8395-01d2d106dc54"
    ],
    "language": "en-us"
}