{
    "vendor_urls": [
        {
            "id": "588b5c42-8634-4af7-bc9b-5e0116ed96b6",
            "url": {
                "value": "noreply@folio.org",
                "description": ""
            },
            "language": "en-us",
            "categories": [
                "112ae2e4-88ae-4fa5-a75b-2379d2035e52",
                "56288fe8-8037-44da-8395-01d2d106dc54"
            ],
            "notes": ""
        }
    ],
    "total_records": 1,
    "first": 1,
    "last": 1
}
