{
    "adjustments":
        [
          {
            "id": "1363467f-eb47-4e09-9e28-e25aa464adb7",
            "credit": 0.0,
            "discount": 0.0,
            "insurance": 0.0,
            "invoice_id": "2d6d495c-c237-476f-aa48-57f7cbf74ca4",
            "overhead": 0.0,
            "shipment": 0.0,
            "tax_1": 0.0,
            "tax_2": 0.0,
            "use_pro_rate": false,
            "po_line_id": "8c778aee-97fa-4586-b131-3ea588a728e2"
          }
        ],
    "total_records": 1
}
