{
  "receiving_note": "ABCDEFGHIJKL",
  "product_ids": [
    {
      "product_id": "9780764354113",
      "product_id_type": "ISBN"
    }
  ],
  "material_types": [
    "f7e72403-2a13-43a4-a069-aaabe6c9dea8"
  ],
  "subscription_from": "2018-10-09T00:00:00.000Z",
  "subscription_interval": 824,
  "subscription_to": "2020-10-09T00:00:00.000Z",
  "po_line_id": "8c778aee-97fa-4586-b131-3ea588a728e2"
}
