{
    "fund_distributions":
      [
        {
          "id": "64774a83-fd1d-469e-a4d9-ed4033082799", 
          "code": "HIST",
          "percentage": 80.0,
          "encumbrance": "eb506834-6c70-4239-8d1a-6414a5b08ac3",
          "po_line_id": "c0d08448-347b-418a-8c2f-5fb50248d67e"
        }
      ],
    "total_records": 1
}
