{
  "id": "a4e65e03-99a4-4b39-8e6a-ae666ac52bea",
  "location_id": "eb2d063a-5b4c-4cab-8db1-5fc5c5941df6",
  "quantity": 2,
  "quantity_electronic": 1,
  "quantity_physical": 1,
  "po_line_id": "8c778aee-97fa-4586-b131-3ea588a728e2"
}
