{
  "totalPrice": 150.00,
  "prepaymentTerm": 2,
  "startingFiscalYearId": "684b5dc5-92b9-4c35-9a06-3a1854db4e37",
  "fundDistributions": [
    {
      "code": "HIST",
      "fundId": "63157e96-0693-426d-b0df-948bacdfdb08",
      "distributionType": "percentage",
      "value": 80.0
    },
    {
      "code": "GENRL",
      "fundId": "3652829d-a625-4c84-b297-9bd9955d6bc9",
      "distributionType": "percentage",
      "value": 20.0
    }
  ]
}
