{
  "physicals":
    [
      {
        "id": "5ee243f9-72e5-4464-bdbc-43a21873d648",
        "volumes": [
          "vol. 1"
        ],
        "material_supplier": "73d14bc5-d131-48c6-b380-f8e62f63c8b6",
        "expectedReceiptDate": "2018-10-05T00:00:00.000Z",
        "receipt_due": "2018-10-10T00:00:00.000Z",
        "po_line_id": "8c778aee-97fa-4586-b131-3ea588a728e2"
      }
    ],
  "total_records": 1,
  "first": 1,
  "last": 1
}
