{
  "id": "0804ddec-6545-404a-b54d-a693f505681d",
  "adjustment": "9b3be694-6716-4e14-b81d-8d76f0ae4146",
  "approved": true,
  "assigned_to": "ab18897b-0e40-4f31-896b-9c9adc979a88",
  "created": "2010-10-08T03:53:00.000Z",
  "created_by": "ab18897b-0e40-4f31-896b-9c9adc979a88",
  "manual_po": false,
  "notes": [
    "ABCDEFGHIJKLMNO",
    "ABCDEFGHIJKLMNOPQRST",
    "ABCDEFGHIJKLMNOPQRSTUV"
  ],
  "order_type": "Ongoing",
  "po_number": "268758",
  "re_encumber": false,
  "total_estimated_price": 49.98,
  "total_items": 2,
  "vendor": "168f8a86-d26c-406e-813f-c7527f241ac3",
  "workflow_status": "Open"
}
