{
  "id": "5e317dc2-deeb-4429-b2a1-91e5cd0fd5f7",
  "caption": "Tutorial Volume 10",
  "comment": "Special Edition",
  "item_id": "1c92433e-916d-452e-ac76-5268d0ec3f66",
  "po_line_id": "c1498090-538a-4470-9525-27e4e0c74b07",
  "po_line_number": "268758-03",
  "received_date": "2018-10-09T00:00:00.000Z",
  "receiving_note": "ASD FGH ABCDEFGHIJKLMNOPQ",
  "receiving_status": "Expected",
  "supplement": true,
  "title": "Kayak Fishing in the Northern Gulf Coast"
}
