{
  "operation": "Replace Instance Ref",
  "replaceInstanceRef": {
    "newInstanceId": "c0d08448-347b-428a-8c2f-4fb40248d47e",
    "holdings": [
      {
        "fromHoldingId": "b0d08448-347b-228a-8c2f-4fb40248d87e",
        "toLocationId": "b0d08558-347b-418a-8c2f-4fb40248d47e"
      },
      {
        "fromHoldingId": "b0d08448-347b-228a-8c2f-4fb40248d97e",
        "toHoldingId": "b0d08668-347b-426a-8c2f-4fb40249d57e"
      }
    ]
  }
}
