{
    "vendorId": "e0fb5df2-cdf1-11e8-a8d5-f2801f1b9fd1",
    "piece": {
        "id": "5b59ae92-ee62-4545-a326-a5d6028b4ef5",
        "format": "Physical",
        "itemId": "5ab64798-237e-4111-a7a5-53a01b1940ab",
        "poLineId": "2113b1f7-db25-435a-91bd-406ee882f734",
        "titleId": "e4f01c4b-54b6-4f21-91a7-eac5f191211b",
        "holdingId": "4ae173c6-bf29-4c17-9630-e499772358dd",
        "displayOnHolding": false,
        "displayToPublic": false,
        "receivingStatus": "Expected",
        "isBound": false,
        "statusUpdatedDate": "2025-01-21T09:45:45.372+00:00",
        "metadata": {
            "createdDate": "2025-01-21T09:45:45.371+00:00",
            "createdByUserId": "5951b3e5-ee87-4359-ad44-5fcf309f17f9",
            "updatedDate": "2025-01-21T09:45:45.371+00:00",
            "updatedByUserId": "5951b3e5-ee87-4359-ad44-5fcf309f17f9"
        }
    },
    "purchaseOrder": {
        "id": "97147593-0f3f-4945-8f0d-739e89ee735e",
        "tags": {
            "tagList": [
                "amazon"
            ]
        },
        "notes": [
            "Check credit card statement to make sure payment shows up"
        ],
        "billTo": "5f8a321e-6b38-4d90-92d4-bf08f91a2242",
        "shipTo": "f7c36792-05f7-4c8c-969d-103ac6763187",
        "vendor": "e0fb5df2-cdf1-11e8-a8d5-f2801f1b9fd1",
        "approved": true,
        "manualPo": false,
        "metadata": {
            "createdDate": "2025-01-21T09:45:12.282Z",
            "updatedDate": "2025-01-21T09:45:45.508Z",
            "createdByUserId": "5951b3e5-ee87-4359-ad44-5fcf309f17f9",
            "updatedByUserId": "5951b3e5-ee87-4359-ad44-5fcf309f17f9"
        },
        "poNumber": "10013",
        "template": "4dee318b-f5b3-40dc-be93-cc89b8c45b6f",
        "orderType": "One-Time",
        "acqUnitIds": [],
        "reEncumber": false,
        "dateOrdered": "2025-01-21T09:45:43.602+00:00",
        "approvalDate": "2025-01-21T09:45:43.602+00:00",
        "approvedById": "5951b3e5-ee87-4359-ad44-5fcf309f17f9",
        "workflowStatus": "Open"
    },
    "poLine": {
        "id": "2113b1f7-db25-435a-91bd-406ee882f734",
        "cost": {
            "currency": "USD",
            "discountType": "percentage",
            "listUnitPrice": 99.0,
            "quantityPhysical": 1,
            "poLineEstimatedPrice": 99.0
        },
        "rush": false,
        "alerts": [],
        "claims": [],
        "source": "User",
        "details": {
            "productIds": [],
            "isAcknowledged": false,
            "isBinderyActive": false,
            "subscriptionInterval": 0
        },
        "metadata": {
            "createdDate": "2025-01-21T09:45:36.551Z",
            "updatedDate": "2025-01-21T09:45:45.452Z",
            "createdByUserId": "5951b3e5-ee87-4359-ad44-5fcf309f17f9",
            "updatedByUserId": "5951b3e5-ee87-4359-ad44-5fcf309f17f9"
        },
        "physical": {
            "volumes": [],
            "materialType": "1a54b431-2e4f-452d-9cae-9cee66c9a892",
            "createInventory": "Instance, Holding, Item",
            "materialSupplier": "e0fb5df2-cdf1-11e8-a8d5-f2801f1b9fd1"
        },
        "isPackage": false,
        "locations": [
            {
                "quantity": 1,
                "holdingId": "4ae173c6-bf29-4c17-9630-e499772358dd",
                "quantityPhysical": 1
            }
        ],
        "collection": false,
        "instanceId": "45102f9b-9eaa-4805-ad98-d1454bff391f",
        "orderFormat": "Physical Resource",
        "checkinItems": false,
        "contributors": [],
        "poLineNumber": "10013-1",
        "vendorDetail": {
            "instructions": "",
            "vendorAccount": "1234",
            "referenceNumbers": []
        },
        "paymentStatus": "Awaiting Payment",
        "receiptStatus": "Awaiting Receipt",
        "claimingActive": false,
        "reportingCodes": [],
        "titleOrPackage": "Claim Filter Test 1",
        "automaticExport": false,
        "purchaseOrderId": "97147593-0f3f-4945-8f0d-739e89ee735e",
        "claimingInterval": 45,
        "fundDistribution": [],
        "acquisitionMethod": "306489dd-0053-49ee-a068-c316444a8f55",
        "searchLocationIds": [
            "fcd64ce1-6995-48f0-840e-89ffa2288371"
        ],
        "donorOrganizationIds": [],
        "cancellationRestriction": true
    }
}
